body {
  margin: 0;
  background: #f5f5f5;
  font-family: Arial, Helvetica, sans-serif;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.page-content {
  flex: 1;
}

a {
  text-decoration: none;
}
.card{
    transition:0.3s;
}

.card:hover{
    transform:translateY(-5px);
}

.card img{
    height:250px;
    object-fit:cover;
}

.btn-warning{
    font-weight:bold;
}